body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }

 nav li{
   background-color: aqua;
   border-radius: 15px;
   display:inline-block;
   border-width: 2px;
   border-style: solid;
   border-color: black;
   width: 200px;
   padding: 6px 10px 6px 10px;
 }

 img{
   width: 24%;
   padding: 11px;
   border-width: 4 px;
   border-style: dashed;
   border-color:red;
   box-sizing: border-box;
 }

 p{ 
   font-family: 'Courier New', Courier, monospace;
   font-size: medium;
   color: blue;
   font-weight: bold;
   
 }